
.button-a {
    border-radius: 4px;
    border: 1px solid black;
    background-color: #dc3545;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.insert-field {
    border: 1px solid black;
    border-radius: 5px;
    width: 25%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

/* .container {
    text-align: center;
} */

.message {
    color: red; 
    font-size: 22px;
}

.p-8 {
    padding: 8px;
}

.p-4 {
    padding: 4px;
}

.button-add {
    background-color: #198754; 
    font-size: 22px;
}

.button-edit {
    background-color: #0e6efc;
}

.ava-pro-img-format {
    position: absolute;
    /* Take your picture out of the flow */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* Make the picture taking the size of it's parent */
    width: 100%;
    /* This if for the object-fit */
    height: 100%;
    /* This if for the object-fit */
    /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
}

.img-container {
    position: relative;
    width: 100%;
    /* The size you want */
}

.img-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
    /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}